$headerColor : #1abc9c; /*#01a1af;*/
$backgroundColor: #2c3e50;
/*#33b6c0*/
$font-roboto: 'roboto-regular', sans-serif;
$font-oxygen: 'oxygen-regular', sans-serif;

body
{
	
	#wholeContainer
	{

		#footer
		{
			position: absolute;
			width: 100%;
			height: 30px;
			bottom: 0;
			background-color: $headerColor;
		}

		#header
			{	
				h1
				{
					text-align: center;
					background-color: $headerColor;/*darken($headerColor, 10%);*/
					height: 100px;
					font-family:  $font-oxygen;
					@include font-size(1.6) ;
					color: white;
					background-image: url("../../images/imd_wall_logo.png");
					background-repeat: no-repeat;
					/*background-size: 7%;*/
					background-size: 100px;
					background-position: center center;

					#logo-ask
					{
						width: 7%;
					}
				}
				
			}


		#content
		{
			margin: 20px 5%;
		font-family:  $font-roboto;
			.hiddenMessageCount
			{
				display: none;
			}


			#noMessages
			{
				text-align: center;
				margin-top: 100px;
				color: white;
			}

			#questionList
			{
				li.questionItem
				{
					margin: 10px 0;
					padding: 10px 0;
					padding-bottom: 20px;
					@include border-radius(10px); 
					overflow: hidden;
					background-color: white;
					border: 2px solid darken(#354b60,20%);

					.types
					{
						padding: 0 10px;
						@include font-size(1.1);
					}

					.extraTypeColor
					{
						padding: 0 3px;
						margin-left: -0.5px;
						@include border-radius-topBottom(10px);  
					}

					.profilePicExtra
					{
						width: 50px;

					}

					.userExtra
					{
						padding-left: 10px;
						position: absolute;
						@include font-size(1);
					}

					.arrowVoterExtra
					{
						width: 16px;
						cursor: pointer;
					}
					
					.voterExtra
					{
						float: right;
					}

					.voteBoxExtra
					{
						margin-right: 5px;
						border: 1px solid #01727c;
						width: 55px;
						height: 50px;
					}

					#questionMod
					{
						margin-bottom: 35px;
						/*@extend .question;*/
					}

					#answerMod
					{
						margin-bottom: 35px;
						/*@extend .answer;*/
					}

					
					.messageCon
					{
						width: 100%;
						margin-top: -20px;
						/*height: 200px;*/
						font-family:  $font-roboto;

						.typeColorquestion
						{
							/*@extend .extraTypeColor;*/
							padding: 0 5px;
							margin-left: -0.5px;
							@include border-radius-topBottom(10px);

							background-color: #e74c3c; /*#950d01;*/

						}

						.typeColoranswer
						{
							/*@extend .extraTypeColor;*/
							padding: 0 5px;
							margin-left: -0.5px;
							@include border-radius-topBottom(10px);

							background-color: #2ecc71;/*#01950d;*/
						}

						.messageConSec
						{
							width: 90%;
							/*height: 200px;*/
							margin: 0 1%;

							.extraForDetailsContent
							{
								float: left; 
								/*margin-top: 10px; 
								margin-bottom: 10px;*/
							}

							.messageDetails
							{
								/*@extend .extraForDetailsContent;*/
								float: left; 

								/*width: 10%;*/
								width: 10%;
								/*height: 100px;*/

								img
								{
									margin: 0 12.5%;
									width: 45%;
									@include border-radius(50%);
									border: 2px solid darken(#ffffff,30%);
								}

								
								.votes
								{
									margin-top: 10px;
									position: absolute;
									/*bottom: 3%;*/
									bottom: 1%;
									right: 2%;

									.voteInfo
									{
										margin-bottom: 10px;
										margin-left: 10px;
										margin-top: 10px;

										h1.votesNr
										{
											
											@include font-size(1);
											font-weight: normal;
											text-align: center;
											margin:0;

											span.voteCounter
											{
												font-weight: bold;
											}
										}
									}

								}
							}
							
							.messageContent
							{
								/*@extend .extraForDetailsContent;*/
								float: left; 


								/*width:87.5%;*/
								width: 78.5%;

								.extraForh1h2h3
								{
									
									@include font-size(1);
									font-weight: normal;
									margin: 0;
									padding: 0;
								}

								.name
								{
									margin-bottom: 5px;
									@include font-size(1.1);
									font-weight: bold;
									h1
									{
										/*@extend .extraForh1h2h3;*/
										@include font-size(1);
										font-weight: normal;
										margin: 0;
										padding: 0;


										@include font-size(1.1);
										font-weight: bold;
									}
								}

								.text
								{
									margin-bottom: 25px;

									h2
									{
										/*@extend .extraForh1h2h3;*/
										@include font-size(1);
										font-weight: normal;
										margin: 0;
										padding: 0;


										word-wrap: break-word;
									}
								}

								.time
								{
									
									/*bottom: 4%;*/
									/*top: 8%;*/
									top: 8%;
									right: 2%;
									position: absolute;

									h3
									{
										/*@extend .extraForh1h2h3;*/
										@include font-size(0.8);
										color:#95a5a6;
										font-weight: normal;
										margin: 0;
										padding: 0;


										text-align: right;
									}
								}
							}

						}

					}

				}	
			}

		}
	}
}


/*--------------------------------------------------------*/
/*------------------MEDIA QUERIES-------------------------*/
/*--------------------------------------------------------*/

@media all and (max-width : 1175px) {
	

	body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails .votes .voteInfo
	{

		margin-left: 7px;
	}

	body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageContent .name h1
	{
		@include font-size(1);
	}

	body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageContent .text h2
	{
		@include font-size(0.95);
	}


}


@media all and (max-width : 700px) {


	body #wholeContainer  #content
	{
		margin: 0 1.8%;
		margin-top: 75px;
	}


	body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails .votes .voteInfo
	{
		
		margin-left: 10px;
	}


	 body #wholeContainer  #header
	{
		z-index: 2;
		position: fixed;
		height: 55px;
		overflow: hidden;
		top: 0px;
		width: 100%;
	}


	body #wholeContainer #header h1
	{
		background-size: 48px;
		height: 53px;

	}


	body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails .votes
	{
		bottom: 5%;
	}

	body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageContent .time
	{
		
		@include font-size(0.75);
	}

	.fbUsername
	{
		visibility: hidden;
	}

	body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails img
	{
		width: 60%;
	}

	
}

@media all and (max-width : 350px) {
	

	body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails img
	{
		width: 80%;
	}

	

	body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageContent .name h1
	{
		@include font-size(0.85);
	}

	body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageContent .time .text h2
	{
		@include font-size(0.75);
	}

	body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageContent .time h3
	{
		@include font-size(0.65);
	}

	body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageContent
	{
		margin-left: 7px;
	}

	body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec 
	{
		margin-left: 15px;
	}


}
