@font-face {
  font-family: 'roboto-regular';
  src: url(../../fonts/Roboto-Regular.ttf);
  src: local('roboto-regular'), url(../../fonts/Roboto-Regular.ttf) format('truetype'); }

@font-face {
  font-family: 'oxygen-regular';
  src: url(../../fonts/Oxygen-Regular.ttf);
  src: local('oxygen-regular'), url(../../fonts/Oxygen-Regular.ttf) format('truetype'); }

.moveRight {
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px);
  ms-transform: translateX(-150px); }

.animateQuestion {
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  ms-transform-origin: left bottom;
  /*-webkit-transform-origin: left bottom;
 	transform-origin: left bottom;
 	ms-transform-origin: left bottom;*/
  -webkit-animation: animateQuestion 1s;
  animation: animateQuestion 1s;
  ms-animation: animateQuestion 1s;
  /*-webkit-animation: animateQuestion 1s;
	animation: animateQuestion 1s;
	ms-animation: animateQuestion 1s;*/
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  ms-animation-fill-mode: forwards;
  /*
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	ms-animation-fill-mode: forwards;*/
  -webkit-transition: -webkit-transform 1s ease-in;
  -moz-transition: -moz-transform 1s ease-in;
  -ms-transition: -ms-transform 1s ease-in;
  transition: transform 1s ease-in;
  /*-webkit-transition: -webkit-transform 1s ease-in;
	-moz-transition: -moz-transform 1s ease-in;
	-ms-transition: -ms-transform 1s ease-in;
	transition: transform 1s ease-in;*/ }

@-webkit-keyframes animateQuestion {
  0% {
    -webkit-transform: translateY(-20px);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(1px);
    opacity: 1; } }

@keyframes animateQuestion {
  0% {
    transform: translateY(-20px);
    opacity: 0; }

  100% {
    transform: translateY(1px);
    opacity: 1; } }

/*
@-webkit-keyframes animateQuestion
{
	 0% { -webkit-transform: translateY(0px); opacity: 0; }
	100% { -webkit-transform: translateY(15px); opacity: 1; }
}

@keyframes animateQuestion
{
	 0% { transform: translateY(0px); opacity: 0; }
	100% { transform: translateY(15px); opacity: 1; }
}

*/
#indexBody {
  background-color: #16a085; }
  #indexBody #login {
    background-color: #ecfcf9;
    color: #0d2a3c;
    width: 40%;
    margin: 10% 30%;
    padding-bottom: 20px;
    padding-top: 20px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    border-radius: 40px; }
    #indexBody #login h2 {
      text-align: center;
      padding-top: 10px; }
    #indexBody #login .socialMedia, #indexBody #login #indexBody #login ul#loginImg li #admin, #indexBody #login ul#loginImg li #indexBody #login #admin, #indexBody #login #indexBody #login ul#loginImg li #facebook, #indexBody #login ul#loginImg li #indexBody #login #facebook {
      width: 60px;
      cursor: pointer; }
    #indexBody #login #login1 {
      font-size: 11px;
      font-size: 1.1rem;
      width: 60%;
      margin: 20px 20%; }
      #indexBody #login #login1 li.facebookButton {
        background-color: #2980b9;
        /*#5070A9*/
        min-width: 236px;
        height: 50px;
        background-image: url("../../images/facebook.png");
        background-repeat: no-repeat;
        background-size: 35px;
        background-position: 10px; }
        #indexBody #login #login1 li.facebookButton a {
          text-decoration: none;
          color: white; }
          #indexBody #login #login1 li.facebookButton a .loginText {
            margin-top: 5px;
            position: absolute;
            margin: 15px 55px;
            display: block; }
    #indexBody #login #loginDiff {
      text-align: center;
      margin: 0 47%; }
    #indexBody #login ul#login2 {
      font-size: 11px;
      font-size: 1.1rem;
      width: 60%;
      margin: 20px 20%; }
      #indexBody #login ul#login2 li input[type="text"] {
        width: 90%;
        padding: 10px;
        font-size: 11px;
        font-size: 1.1rem; }
      #indexBody #login ul#login2 li input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #117964;
        color: white;
        font-size: 11px;
        font-size: 1.1rem;
        border: none; }
    #indexBody #login ul#loginImg {
      margin: 30px 25%;
      width: 50%; }
      #indexBody #login ul#loginImg li #admin {
        float: right; }
      #indexBody #login ul#loginImg li #facebook {
        float: left; }

/*#33b6c0*/
body {
  overflow: hidden;
  font-family: 'roboto-regular', sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  background-color: #e4f6ff;
  background-color: #f9ffff; }
  body #wholeContainer #baseContent {
    transition: -webkit-transform 1.6s;
    transition: transform 1.6s; }
    body #wholeContainer #baseContent .twosides {
      /*margin: 20px;*/
      margin: 30px 2%;
      /*background-color: darken($backgroundColor,2%);*/ }
    body #wholeContainer #baseContent #header h1 {
      text-align: center;
      background-color: #01747c;
      padding: 20px 0;
      font-family: 'oxygen-regular', sans-serif;
      font-size: 16px;
      font-size: 1.6rem;
      color: white; }
    body #wholeContainer #baseContent #header .extendIcons {
      position: absolute;
      cursor: pointer; }
    body #wholeContainer #baseContent #header #goBackArrow {
      /*@extend .extendIcons;*/
      position: absolute;
      cursor: pointer;
      /*left: 20px;
					top: 20px;*/
      left: 0;
      top: 0;
      padding: 21px 17px;
      width: 60px;
      display: none; }
    body #wholeContainer #baseContent #header #accountPic {
      width: 25px;
      /*@extend .extendIcons;*/
      position: absolute;
      cursor: pointer;
      /*right: 20px;
					top: 10px;*/
      right: 0;
      top: 0;
      padding: 11px 25px;
      /*display: none;*/ }
    body #wholeContainer #baseContent #content #leftSide {
      float: left;
      width: 58%;
      /*@extend .twosides;*/
      margin: 30px 2%; }
      body #wholeContainer #baseContent #content #leftSide #topicList .topics {
        line-height: 20px;
        line-height: 2rem;
        font-size: 11px;
        font-size: 1.1rem; }
        body #wholeContainer #baseContent #content #leftSide #topicList .topics span {
          cursor: pointer; }
      body #wholeContainer #baseContent #content #leftSide #topicList .arrow {
        width: 30px;
        margin-left: 20px; }
      body #wholeContainer #baseContent #content #leftSide .category {
        font-size: 11px;
        font-size: 1.1rem;
        background-color: #01a1af;
        color: white;
        padding: 10px; }
    body #wholeContainer #baseContent #content #rightSide {
      float: right;
      width: 30%;
      /*@extend .twosides;*/
      margin: 30px 2%; }
      body #wholeContainer #baseContent #content #rightSide .questionHeader {
        font-size: 11px;
        font-size: 1.1rem;
        margin: 0 10%;
        padding: 10px;
        text-align: center;
        /*background-color: #017c48;*/
        background-color: #01a1af;
        color: white;
        width: 78%; }
      body #wholeContainer #baseContent #content #rightSide #form {
        margin: 0 10%; }
        body #wholeContainer #baseContent #content #rightSide #form .errorMessage {
          color: red;
          display: none;
          font-size: 9px;
          font-size: 0.9rem; }
        body #wholeContainer #baseContent #content #rightSide #form .extraInputStyle {
          width: 100%;
          font-family: 'roboto-regular', sans-serif; }
        body #wholeContainer #baseContent #content #rightSide #form input[type=text] {
          padding: 5px;
          /*@extend .extraInputStyle;*/
          width: 100%;
          font-family: 'roboto-regular', sans-serif; }
        body #wholeContainer #baseContent #content #rightSide #form input[type=submit] {
          padding: 5px;
          /*@extend .extraInputStyle;*/
          width: 100%;
          font-family: 'roboto-regular', sans-serif;
          background-color: #ec4b2e;
          /*background-color: #bc2b11;*/
          color: white;
          border: none;
          font-size: 12px;
          font-size: 1.2rem; }
        body #wholeContainer #baseContent #content #rightSide #form textarea {
          padding: 5px 7px 5px 5px;
          /*@extend .extraInputStyle;*/
          width: 100%;
          font-family: 'roboto-regular', sans-serif;
          /* @extend wordt niet opgrvraagd*/ }
        body #wholeContainer #baseContent #content #rightSide #form #sendTypes {
          margin: 10px 0; }
          body #wholeContainer #baseContent #content #rightSide #form #sendTypes label {
            font-size: 9px;
            font-size: 0.9rem; }
          body #wholeContainer #baseContent #content #rightSide #form #sendTypes input {
            width: 1.5em;
            height: 1.5em; }
  body #wholeContainer #accountOptions {
    background-color: #00454a;
    color: white;
    position: absolute;
    right: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    transition: -webkit-transform 1.6s;
    transition: transform 1.6s;
    font-size: 12px;
    font-size: 1.2rem; }
    body #wholeContainer #accountOptions #options {
      padding-top: 5px; }
      body #wholeContainer #accountOptions #options h2 {
        text-align: center;
        padding: 10px;
        border-bottom: 1px dashed #001517; }
      body #wholeContainer #accountOptions #options p.logout {
        cursor: pointer;
        padding: 10px; }

/*#33b6c0*/
body #wholeContainer #header h1 {
  text-align: center;
  background-color: #01747c;
  padding: 20px 0;
  font-family: 'oxygen-regular', sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  color: white; }
body #wholeContainer #content {
  margin: 20px 5%; }
  body #wholeContainer #content #noMessages {
    text-align: center;
    margin-top: 100px; }
  body #wholeContainer #content #questionList li.questionItem {
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px solid #01a1af;
    border-right: 1px solid #01a1af;
    border-bottom: 1px solid #01a1af;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden; }
    body #wholeContainer #content #questionList li.questionItem .types {
      padding: 0 10px;
      font-size: 11px;
      font-size: 1.1rem; }
    body #wholeContainer #content #questionList li.questionItem .extraTypeColor {
      padding: 0 3px;
      margin-left: -0.5px;
      -webkit-border-top-left-radius: 10px;
      /*-webkit-border-top-right-radius:$radius;
	-webkit-border-bottom-right-radius:$radius;*/
      -webkit-border-bottom-left-radius: 10px;
      -moz--border-top-left-radius: 10px;
      /*-moz--border-top-right-radius:$radius;
	-moz--border-bottom-right-radius:$radius;*/
      -moz--border-bottom-left-radius: 10px;
      -ms-border-top-left-radius: 10px;
      /*-ms-border-top-right-radius:$radius;
	-ms-border-bottom-right-radius:$radius;*/
      -ms-border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      /*border-top-right-radius:$radius;
	border-bottom-right-radius:$radius;*/
      border-bottom-left-radius: 10px; }
    body #wholeContainer #content #questionList li.questionItem .profilePicExtra {
      width: 50px; }
    body #wholeContainer #content #questionList li.questionItem .userExtra {
      padding-left: 10px;
      position: absolute;
      font-size: 10px;
      font-size: 1rem; }
    body #wholeContainer #content #questionList li.questionItem .arrowVoterExtra {
      width: 16px;
      cursor: pointer; }
    body #wholeContainer #content #questionList li.questionItem .voterExtra {
      float: right; }
    body #wholeContainer #content #questionList li.questionItem .voteBoxExtra {
      margin-right: 5px;
      border: 1px solid #01727c;
      width: 55px;
      height: 50px; }
    body #wholeContainer #content #questionList li.questionItem #questionMod {
      margin-bottom: 35px;
      /*@extend .question;*/ }
    body #wholeContainer #content #questionList li.questionItem #answerMod {
      margin-bottom: 35px;
      /*@extend .answer;*/ }
    body #wholeContainer #content #questionList li.questionItem .messageCon {
      width: 100%;
      margin-top: -20px;
      /*height: 200px;*/ }
      body #wholeContainer #content #questionList li.questionItem .messageCon .typeColorquestion {
        /*@extend .extraTypeColor;*/
        padding: 0 3px;
        margin-left: -0.5px;
        -webkit-border-top-left-radius: 10px;
        /*-webkit-border-top-right-radius:$radius;
	-webkit-border-bottom-right-radius:$radius;*/
        -webkit-border-bottom-left-radius: 10px;
        -moz--border-top-left-radius: 10px;
        /*-moz--border-top-right-radius:$radius;
	-moz--border-bottom-right-radius:$radius;*/
        -moz--border-bottom-left-radius: 10px;
        -ms-border-top-left-radius: 10px;
        /*-ms-border-top-right-radius:$radius;
	-ms-border-bottom-right-radius:$radius;*/
        -ms-border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        /*border-top-right-radius:$radius;
	border-bottom-right-radius:$radius;*/
        border-bottom-left-radius: 10px;
        background-color: #950d01; }
      body #wholeContainer #content #questionList li.questionItem .messageCon .typeColoranswer {
        /*@extend .extraTypeColor;*/
        padding: 0 3px;
        margin-left: -0.5px;
        -webkit-border-top-left-radius: 10px;
        /*-webkit-border-top-right-radius:$radius;
	-webkit-border-bottom-right-radius:$radius;*/
        -webkit-border-bottom-left-radius: 10px;
        -moz--border-top-left-radius: 10px;
        /*-moz--border-top-right-radius:$radius;
	-moz--border-bottom-right-radius:$radius;*/
        -moz--border-bottom-left-radius: 10px;
        -ms-border-top-left-radius: 10px;
        /*-ms-border-top-right-radius:$radius;
	-ms-border-bottom-right-radius:$radius;*/
        -ms-border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        /*border-top-right-radius:$radius;
	border-bottom-right-radius:$radius;*/
        border-bottom-left-radius: 10px;
        background-color: #01950d; }
      body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec {
        width: 90%;
        /*height: 200px;*/
        margin: 0 auto; }
        body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .extraForDetailsContent {
          float: left;
          /*margin-top: 10px; 
								margin-bottom: 10px;*/ }
        body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails {
          /*@extend .extraForDetailsContent;*/
          float: left;
          /*width: 10%;*/
          width: 15%;
          margin-right: 2.5%;
          /*height: 100px;*/ }
          body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails img {
            margin: 0 12.5%;
            width: 75%; }
          body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails .votes {
            margin-top: 10px; }
            body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails .votes .voteInfo {
              margin-bottom: 10px; }
              body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails .votes .voteInfo h1.votesNr {
                font-size: 16px;
                font-weight: normal;
                text-align: center;
                margin: 0; }
                body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails .votes .voteInfo h1.votesNr span.voteCounter {
                  font-weight: bold; }
            body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails .votes .extraAImage {
              display: block;
              text-indent: -9999px;
              width: 25px;
              height: 25px; }
            body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails .votes .deleteAction {
              position: absolute;
              top: 5%;
              right: 1%; }
              body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails .votes .deleteAction span.delete {
                /*@extend .extraAImage;*/
                display: block;
                text-indent: -9999px;
                width: 25px;
                height: 25px;
                background-image: url('../../images/x_sign_dark.png');
                background-repeat: no-repeat;
                margin: 0 auto; }
              body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails .votes .deleteAction span.delete:hover {
                background-image: url('../../images/x_sign_light.png');
                cursor: pointer; }
            body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails .votes .voteAction ul {
              margin: 0;
              padding: 0; }
              body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails .votes .voteAction ul li {
                /*margin:0;*/
                margin: 0 0 0 3.5px;
                padding: 0;
                /*width: 50%;*/
                width: 45%;
                float: left; }
                body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails .votes .voteAction ul li span.up {
                  /*@extend .extraAImage;*/
                  display: block;
                  text-indent: -9999px;
                  width: 25px;
                  height: 25px;
                  background-image: url('../../images/vote_up_unvoted.png');
                  background-repeat: no-repeat;
                  margin: 0 auto; }
                body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails .votes .voteAction ul li span.down {
                  /*@extend .extraAImage;*/
                  display: block;
                  text-indent: -9999px;
                  width: 25px;
                  height: 25px;
                  background-image: url('../../images/vote_down_unvoted.png');
                  background-repeat: no-repeat;
                  margin: 0 auto; }
                body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails .votes .voteAction ul li span.up:hover {
                  background-image: url('../../images/vote_up_light.png');
                  cursor: pointer; }
                body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails .votes .voteAction ul li span.down:hover {
                  background-image: url('../../images/vote_down_light.png');
                  cursor: pointer; }
                body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails .votes .voteAction ul li span.inactiveUp {
                  /*@extend .extraAImage;*/
                  display: block;
                  text-indent: -9999px;
                  width: 25px;
                  height: 25px;
                  background-image: url('../../images/vote_up_inactive.png');
                  background-repeat: no-repeat;
                  margin: 0 auto;
                  cursor: default; }
                body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails .votes .voteAction ul li span.inactiveUp:hover {
                  background-image: url('../../images/vote_up_inactive.png'); }
                body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails .votes .voteAction ul li span.chosenUp {
                  /*@extend .extraAImage;*/
                  display: block;
                  text-indent: -9999px;
                  width: 25px;
                  height: 25px;
                  background-image: url('../../images/vote_up_dark.png');
                  background-repeat: no-repeat;
                  margin: 0 auto; }
                body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails .votes .voteAction ul li span.chosenUp:hover {
                  background-image: url('../../images/vote_up_light.png'); }
                body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails .votes .voteAction ul li span.inactiveDown {
                  /*@extend .extraAImage;*/
                  display: block;
                  text-indent: -9999px;
                  width: 25px;
                  height: 25px;
                  background-image: url('../../images/vote_down_inactive.png');
                  background-repeat: no-repeat;
                  margin: 0 auto;
                  cursor: default; }
                body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails .votes .voteAction ul li span.inactiveDown:hover {
                  background-image: url('../../images/vote_down_inactive.png'); }
                body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails .votes .voteAction ul li span.chosenDown {
                  /*@extend .extraAImage;*/
                  display: block;
                  text-indent: -9999px;
                  width: 25px;
                  height: 25px;
                  background-image: url('../../images/vote_down_dark.png');
                  background-repeat: no-repeat;
                  margin: 0 auto; }
                body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageDetails .votes .voteAction ul li span.chosenDown:hover {
                  background-image: url('../../images/vote_down_light.png'); }
        body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageContent {
          /*@extend .extraForDetailsContent;*/
          float: left;
          /*width:87.5%;*/
          width: 78.5%; }
          body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageContent .extraForh1h2h3 {
            font-size: 16px;
            font-weight: normal;
            margin: 0;
            padding: 0; }
          body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageContent .name {
            margin-bottom: 5px;
            font-size: 18px;
            font-weight: bold; }
            body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageContent .name h1 {
              /*@extend .extraForh1h2h3;*/
              font-size: 16px;
              font-weight: normal;
              margin: 0;
              padding: 0;
              font-size: 18px;
              font-weight: bold; }
          body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageContent .text {
            margin-bottom: 25px; }
            body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageContent .text h2 {
              /*@extend .extraForh1h2h3;*/
              font-size: 16px;
              font-weight: normal;
              margin: 0;
              padding: 0;
              word-wrap: break-word; }
          body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageContent .time {
            /*margin-top: 10px;*/
            /*margin-right: -4%;
									margin-top: 4%;*/
            bottom: 4%;
            right: 2%;
            position: absolute; }
            body #wholeContainer #content #questionList li.questionItem .messageCon .messageConSec .messageContent .time h3 {
              /*@extend .extraForh1h2h3;*/
              font-size: 16px;
              font-weight: normal;
              margin: 0;
              padding: 0;
              text-align: right; }

@media only screen and (max-width: 710px) {
  body #wholeContainer #baseContent #login ul {
    margin: 30px 8%;
    width: 86%; } }

@media only screen and (max-width: 682px) {
  body #wholeContainer #baseContent #content .noFloatSides, body #wholeContainer #baseContent #content body #wholeContainer #baseContent #content #leftSide, body #wholeContainer #baseContent #content body #wholeContainer #baseContent #content #leftSide, body #wholeContainer #baseContent #content body #wholeContainer #baseContent #content #rightSide, body #wholeContainer #baseContent #content body #wholeContainer #baseContent #content #rightSide {
    float: none;
    width: 95%; }
  body #wholeContainer #baseContent #content #leftSide .category {
    text-align: center; }
  body #wholeContainer #baseContent #content #rightSide .questionHeader {
    margin: 0;
    width: auto; }
  body #wholeContainer #baseContent #content #rightSide #form {
    margin: 0;
    width: 97%; } }

@media only screen and (max-width: 420px) {
  body #wholeContainer #baseContent #login h2 {
    font-size: 12px;
    font-size: 1.2rem; }
  body #wholeContainer #baseContent #content #rightSide #form textarea {
    height: 100px; } }

@media only screen and (max-width: 377px) {
  body #wholeContainer #baseContent #login {
    height: 100%; }
    body #wholeContainer #baseContent #login ul {
      margin: 30px 29%;
      width: 42%; }
      body #wholeContainer #baseContent #login ul li {
        margin: 30px 0;
        width: 100%; }
        body #wholeContainer #baseContent #login ul li #twitter {
          float: none; }
        body #wholeContainer #baseContent #login ul li #facebook {
          float: none; } }

/* media queries importen na de _base, want anders worden
de gewenste css prop niet overschreven*/
/* @extends code  zit nog es een 2de maal in de juiste selectors, vermits @extends nog niet wordt gesupporteerd door lib-sass*/