doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width', initial-scale='1.0')
    link(rel='shortcut icon', href='../images/favicon.ico')
    //link(rel='stylesheet', href='../stylesheets/css/reset.css')
    //link(rel='stylesheet', href='../stylesheets/css/style.css')
    //link(rel='stylesheet', href='/stylesheets/reset.css')
    //link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='../../build/css/build.css')
  body#indexBody
    block content

        #login
            img(id="logo", src="../images/imd_wall_logo.png")
            .loginBackground
                ul#login1
                    li: a(class='facebookLogin', href="/auth/facebook") 
                                                    .innerLogin 
                                                        .loginText Login with Facebook
                span(id="loginDiff") or
                ul#login2
                    li: input(type='text',class="login-icon", name='username', id='username', placeholder='Username')
                    li: input(type='password',class="login-icon", name='password', id='password', placeholder='Password')
                    li: p.errorMessage
                    li: input#modLogin(type="submit", value="Login as Admin")
    script(src="../javascripts/jquery-1.11.1.js")
    script(src="../javascripts/jquery.cookie.js")
    script(src="../javascripts/faye/browser/faye-browser.js")
    script(src="../javascripts/modernizr.js")
    //script(src="../javascripts/live.js")
    script(src="../javascripts/script.js")
    //script(src="../../build/js/script.js", type='text/javascript')
