extends layout

block content
    #wholeContainer
        #header
            h1 IMD WALL
        #content(class="posts")
            ul#questionList(class='allQuestion')
                //li(class="questionItem", id="test0"): .//question
                //    span.typeColor
                //    span 
                //        img(src="../images/profilePic.png", class="profilePic")
                //    .voter 
                //        .voteBox
                //            span.voteText
                //                    .votes 22
                //                    </br>
                //                    .staticText votes
                //        ul.voteButton
                //            li: img(class="voteUp", src="../images/vote_blue_2.png")
                //            li: img(class="voteDown", src="../images/vote_down_blue.png")
                //    span.user User1
                //    span.typeText Vraag1
                //    .chatTime
                //        p 23:54:44
                    
                //li(class="questionItem", id="test1"): .answer
                //    span.typeColor
                //    span 
                //        img(src="../images/profilePic.png", class="profilePic")
                //    .voter 
                //        .voteBox
                //            span.voteText
                //                   .votes 10
                //                    </br>
                //                    .staticText votes
                //        ul.voteButton
                //            li: img(class="voteUp", src="../images/vote_blue_2.png")
                //            li: img(class="voteDown", src="../images/vote_down_blue.png")
                //    span.user User2
                //    span.typeText Vraag2
                //    .chatTime
                //        p 23:54:50
                