@font-face {
	font-family: 'roboto-regular';
	src: url(../../fonts/Roboto-Regular.ttf);
	src: local('roboto-regular'), url(../../fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'oxygen-regular';
	src: url(../../fonts/Oxygen-Regular.ttf);
	src: local('oxygen-regular'), url(../../fonts/Oxygen-Regular.ttf) format('truetype');
}